/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 23, 2024, 11:58:17 PM
    Author     : Admin
*/

.white-bg{
    -fx-background-color: #fff;
} 
.radius{
     -fx-background-radius: 5px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}
.bg-color-1{
    -fx-background-color: linear-gradient(to bottom right, #188BA7, #306090);
}
.btn-1{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .5px;
    -fx-text-fill: #ffff;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 13px;
}
.btn-1:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}
.border-1{
    -fx-border-color: none;
    -fx-border-width: 1.5px;
    -fx-border-radius: 3px;   
}
.border-1:hover{
    -fx-border-color: linear-gradient(to bottom right, #188BA7, #306090);
}
.btn-2{
    -fx-background-color: linear-gradient(to top right, #188BA7, #306090);
}
.btn-2:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-border-color: linear-gradient(to top right, #188BA7, #306090);
    -fx-border-width: 1.5px;
    -fx-border-radius: 3px;
}
.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to top right, #188BA7, #306090);
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-padding: 0px;
}
.table-view .table-column{
    -fx-aligment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to top right, #188BA7, #306090);
    -fx-background-readius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 50px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-family: Arial;   
}
